@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "variables";
@import "basic-style";
@import "input";

// components
@import "components/_header";
@import "components/_tabs";
@import "components/_accordion";
@import "components/_modals";

.main-content {
	padding: $size-header-height 0px 0px 0px;

	@media screen and (max-width: 767px) {
		padding-top: $size-header-height-mobile;
	}
}

.firstscreen {
	// .firstscreen__top
	&__top {
		border-radius: 8px;
		background: radial-gradient(85.01% 188.36% at 12.35% 20.95%, #1f9cfd 0%, #0f81da 100%);
		box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13), inset 20px 20px 92px rgba(21, 54, 154, 0.08);
		color: #fff;
		overflow: hidden;

		@media screen and (min-width: 1123px) {
			min-height: 475px;
		}
		@media screen and (max-width: 767px) {
			margin: 0 -20px;
		}
	}

	&__row {
		position: relative;
		@media screen and (max-width: 767px) {
			flex-direction: column;
		}
	}

	// .firstscreen__column
	&__column {
		flex: 0 0 50%;
	}

	// .firstscreen__column--left
	&__column--left {
		position: relative;
		padding: 77px 0 77px 68px;
		z-index: 2;

		@media screen and (max-width: 991px) {
			padding: 46px 0 46px 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 46px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		@media screen and (max-width: 575px) {
			padding: 28px 20px 37px;
		}

		@media screen and (max-width: 450px) {
			text-align: left;
			align-items: stretch;
		}
	}

	// .firstscreen__title
	&__title {
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 27px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(24px + 8 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(39 / 32);
		}
		@media screen and (max-width: 767px) {
			flex: 1 1 auto;
			margin-bottom: 300px;
		}
		@media screen and (max-width: 450px) {
			max-width: 244px;
			line-height: calc(34 / 24);
			margin-bottom: 195px;
		}

		span {
			color: #2dffa2;
		}

		br {
			display: none;
			@media screen and (max-width: 450px) {
				display: block;
			}
		}
	}

	// .firstscreen__subtitle
	&__subtitle {
		margin-bottom: 55px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		max-width: 352px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(24 / 16);
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	// .firstscreen__buttons
	&__buttons {
		display: flex;
	}

	// .firstscreen__button
	&__button {
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 450px) {
			margin-right: 20px;
		}
	}

	// .firstscreen__column--right
	&__column--right {
		@media screen and (min-width: 768px) {
			position: relative;
			z-index: 1;
		}
	}

	&__img {
		position: absolute;
		top: 3px;
		right: 27px;
		bottom: 0;
		@media screen and (min-width: 768px) {
		}

		@media screen and (min-width: 768px) and (max-width: 1122px) {
			max-width: 100%;
			height: auto;
			right: 5px;
			top: 50%;
			transform: translate(0, -50%);
		}

		@media screen and (max-width: 767px) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.6);
		}

		@media screen and (max-width: 450px) {
			transform: translate(-50%, -50%) scale(0.55);
			top: 59%;
			left: 44%;
		}
	}

	// .firstscreen__bottom
	&__bottom {
		padding: 56px 0;
		@media screen and (max-width: 767px) {
			padding: 40px 0;
		}
	}

	&__features-container {
		max-width: 998px;
		margin: 0 auto;
	}

	// .firstscreen__features
	&__features {
		margin: 0 -5px;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -20px;
		}
		@media screen and (max-width: 575px) {
			margin: 0;
			flex-direction: column;
			align-items: center;
		}
	}

	// .firstscreen__feature
	&__feature {
		flex: 0 0 248px;
		padding: 0 5px;
		display: flex;
		align-items: center;

		@media screen and (max-width: 767px) {
			padding: 20px;
			flex: 0 0 278px;
		}
		@media screen and (max-width: 575px) {
			padding: 0px 0px 34px 0px;
			flex: 1;
			width: 100%;
			margin: 0 -10px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	// .firstscreen__number
	&__number {
		margin-right: 20px;
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
		color: #0c7ee5;

		@media screen and (max-width: 575px) {
			flex: 0 0 50%;
			text-align: right;
			margin-right: 0;
			padding: 0 10px;
		}

		@media screen and (max-width: 450px) {
			flex: 0 0 40.6%;
		}
	}

	// .firstscreen__text
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;

		@media screen and (max-width: 575px) {
			flex: 1;
			padding: 0 10px;
		}
	}
}

.howitworks {
	// .howitworks__tabs
	&__tabs {
		display: none;
		@media screen and (min-width: 576px) {
			display: block;
		}

		.tabs-triggers {
			box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);

			.tabs-triggers__item {
				flex: 0 0 25%;
				height: 80px;
				text-align: center;
				padding: 0 5px;

				&::after {
					content: "";
					display: block;
					height: 6px;
					width: 0;
					background-color: $color-green;
					border-radius: 0px 0px 4px 4px;
					position: absolute;
					left: 50%;
					bottom: 0;
					opacity: 0;
					transition: 0.3s ease all 0s;
				}

				&--active {
					&::after {
						opacity: 1;
						left: 0;
						width: 100%;
					}
				}
			}
		}

		.tabs__content {
			background-color: #f9f9f9;
			margin-top: -40px;
			padding: 120px 0 80px;

			@media screen and (max-width: 991px) {
				padding: 88px 0 48px;
			}
		}
	}

	&__features {
		display: flex;
		justify-content: space-between;
		max-width: 1012px;
		margin: 0 auto;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
		}
		@media screen and (max-width: 575px) {
			justify-content: flex-start;
		}
	}

	&__feature {
		flex: 0 0 252px;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}
		@media screen and (max-width: 767px) {
			padding: 0px 0px 56px 0px;
			&:last-child {
				padding: 0;
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 26px;
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		@media screen and (max-width: 991px) {
			margin-bottom: 21px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 17px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 14px;
		}

		span {
			margin-left: 16px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(21 / 16);
		}
	}

	&__accordion {
		margin: 20px 0;
		@media screen and (min-width: 576px) {
			display: none;
		}

		.accordion__item {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.accordion__title {
			box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
			border-radius: 4px;
			display: flex;
			align-items: center;
			height: 80px;
			padding: 22px 24px;
			background: #fff;
			z-index: 2;
			border-bottom: 0;

			&::before, &::after {
				right: 24px;
			}

			&.active {
				font-weight: 700;
				border-bottom: 4px solid $color-green;
			}

			span {
				@media screen and (max-width: 400px) {
					max-width: 193px;
				}
			}
		}

		.accordion__text {
			background: #f9f9f9;
			padding: 88px 20px;
			margin: -40px -20px -47px;
			position: relative;
			z-index: 1;

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 48px;
			}
		}

		.accordion__wrapper {
			padding: 0 14px;
		}
	}
}
