@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "variables";
@import "basic-style";
@import "input";

// components
@import "components/_header";
@import "components/_tabs";
@import "components/_accordion";
@import "components/_modals";

.main-content {
	padding: $size-header-height 0px 0px 0px;

	@media screen and (max-width: 767px) {
		padding-top: $size-header-height-mobile;
	}
}

.firstscreen {
	// .firstscreen__top
	&__top {
		border-radius: 8px;
		background: radial-gradient(85.01% 188.36% at 12.35% 20.95%, #1f9cfd 0%, #0f81da 100%);
		box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13), inset 20px 20px 92px rgba(21, 54, 154, 0.08);
		color: #fff;
		overflow: hidden;

		@media screen and (min-width: 1123px) {
			min-height: 475px;
		}
		@media screen and (max-width: 767px) {
			margin: 0 -20px;
		}
	}

	&__row {
		position: relative;
		@media screen and (max-width: 767px) {
			flex-direction: column;
		}
	}

	// .firstscreen__column
	&__column {
		flex: 0 0 50%;
	}

	// .firstscreen__column--left
	&__column--left {
		position: relative;
		padding: 77px 0 77px 68px;
		z-index: 2;

		@media screen and (max-width: 991px) {
			padding: 46px 0 46px 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 46px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		@media screen and (max-width: 575px) {
			padding: 28px 20px 37px;
		}

		@media screen and (max-width: 450px) {
			text-align: left;
			align-items: stretch;
		}
	}

	// .firstscreen__title
	&__title {
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 27px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(24px + 8 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(39 / 32);
		}
		@media screen and (max-width: 767px) {
			flex: 1 1 auto;
			margin-bottom: 300px;
		}
		@media screen and (max-width: 450px) {
			max-width: 244px;
			line-height: calc(34 / 24);
			margin-bottom: 195px;
		}

		span {
			color: #2dffa2;
		}

		br {
			display: none;
			@media screen and (max-width: 450px) {
				display: block;
			}
		}
	}

	// .firstscreen__subtitle
	&__subtitle {
		margin-bottom: 55px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		max-width: 352px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(24 / 16);
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	// .firstscreen__buttons
	&__buttons {
		display: flex;
	}

	// .firstscreen__button
	&__button {
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(20 / 16);
		}
		@media screen and (max-width: 450px) {
			margin-right: 20px;
		}
	}

	// .firstscreen__column--right
	&__column--right {
		@media screen and (min-width: 768px) {
			position: relative;
			z-index: 1;
		}
	}

	&__img {
		position: absolute;
		top: 3px;
		right: 27px;
		bottom: 0;
		@media screen and (min-width: 768px) {
		}

		@media screen and (min-width: 768px) and (max-width: 1122px) {
			max-width: 100%;
			height: auto;
			right: 5px;
			top: 50%;
			transform: translate(0, -50%);
		}

		@media screen and (max-width: 767px) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.6);
		}

		@media screen and (max-width: 450px) {
			transform: translate(-50%, -50%) scale(0.55);
			top: 59%;
			left: 44%;
		}
	}

	// .firstscreen__bottom
	&__bottom {
		padding: 56px 0;
		@media screen and (max-width: 767px) {
			padding: 40px 0;
		}
	}

	&__features-container {
		max-width: 998px;
		margin: 0 auto;
	}

	// .firstscreen__features
	&__features {
		margin: 0 -5px;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -20px;
		}
		@media screen and (max-width: 575px) {
			margin: 0;
			flex-direction: column;
			align-items: center;
		}
	}

	// .firstscreen__feature
	&__feature {
		flex: 0 0 248px;
		padding: 0 5px;
		display: flex;
		align-items: center;

		@media screen and (max-width: 767px) {
			padding: 20px;
			flex: 0 0 278px;
		}
		@media screen and (max-width: 575px) {
			padding: 0px 0px 34px 0px;
			flex: 1;
			width: 100%;
			margin: 0 -10px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	// .firstscreen__number
	&__number {
		margin-right: 20px;
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
		color: #0c7ee5;

		@media screen and (max-width: 575px) {
			flex: 0 0 50%;
			text-align: right;
			margin-right: 0;
			padding: 0 10px;
		}

		@media screen and (max-width: 450px) {
			flex: 0 0 40.6%;
		}
	}

	// .firstscreen__text
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;

		@media screen and (max-width: 575px) {
			flex: 1;
			padding: 0 10px;
		}
	}
}

.howitworks {
	// .howitworks__tabs
	&__tabs {
		display: none;
		@media screen and (min-width: 576px) {
			display: block;
		}

		.tabs-triggers {
			box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);

			.tabs-triggers__item {
				flex: 0 0 25%;
				height: 80px;
				text-align: center;
				padding: 0 5px;

				&::after {
					content: "";
					display: block;
					height: 6px;
					width: 0;
					background-color: $color-green;
					border-radius: 0px 0px 4px 4px;
					position: absolute;
					left: 50%;
					bottom: 0;
					opacity: 0;
					transition: 0.3s ease all 0s;
				}

				&--active {
					&::after {
						opacity: 1;
						left: 0;
						width: 100%;
					}
				}
			}
		}

		.tabs__content {
			background-color: $color-bg-f9;
			margin-top: -40px;
			padding: 120px 0 80px;

			@media screen and (max-width: 991px) {
				padding: 88px 0 48px;
			}
		}
	}

	&__features {
		display: flex;
		justify-content: space-between;
		max-width: 1012px;
		margin: 0 auto;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
		}
		@media screen and (max-width: 575px) {
			justify-content: flex-start;
		}
	}

	&__feature {
		flex: 0 0 252px;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}
		@media screen and (max-width: 767px) {
			padding: 0px 0px 56px 0px;
			&:last-child {
				padding: 0;
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 26px;
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		@media screen and (max-width: 991px) {
			margin-bottom: 21px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 17px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 14px;
		}

		span {
			margin-left: 16px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(21 / 16);
		}
	}

	&__accordion {
		margin: 20px 0;
		@media screen and (min-width: 576px) {
			display: none;
		}

		.accordion__item {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.accordion__title {
			box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
			border-radius: 4px;
			display: flex;
			align-items: center;
			height: 80px;
			padding: 22px 24px;
			background: #fff;
			z-index: 2;
			border-bottom: 0;

			&::before,
			&::after {
				right: 24px;
			}

			&.active {
				font-weight: 700;
				border-bottom: 4px solid $color-green;
			}

			span {
				@media screen and (max-width: 400px) {
					max-width: 193px;
				}
			}
		}

		.accordion__text {
			background: #f9f9f9;
			padding: 88px 20px;
			margin: -40px -20px -47px;
			position: relative;
			z-index: 1;

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 48px;
			}
		}

		.accordion__wrapper {
			padding: 0 14px;
		}
	}
}

.offer {
	padding: 94px 0 83px;

	@media screen and (max-width: 991px) {
		padding: 56px 0;
	}
	@media screen and (max-width: 575px) {
		padding: 35px 0;
	}

	// .offer__container
	&__container {
		max-width: 1052px;
	}

	// .offer__top
	&__top {
		margin-bottom: 33px;

		@media screen and (max-width: 575px) {
			margin-bottom: 24px;
		}
	}

	// .offer__row
	&__row {
		@media screen and (max-width: 575px) {
			display: block;
		}
	}

	// .offer__column
	&__column {
		flex: 1 1 auto;
	}

	&__column--content {
		flex: 0 0 49.5%;

		@media screen and (max-width: 575px) {
			margin-bottom: 50px;
		}
	}

	// .offer__title
	&__title {
		max-width: 496px;
	}

	// .offer__text
	&__text {
		margin-bottom: 40px;
		max-width: 399px;

		@media screen and (max-width: 767px) {
			margin-bottom: 24px;
		}
	}

	// .offer__img
	&__img {
		@media screen and (max-width: 575px) {
			max-width: 370px;
		}

		@media screen and (max-width: 450px) {
			max-width: inherit;
			position: relative;
			padding-bottom: 78.5%;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;

			@media screen and (max-width: 450px) {
				width: 100%;
				height: 100%;
				position: absolute;
				left: -30px;
				top: 0;
				object-fit: cover;
			}
		}
	}

	// .offer__steps

	&__steps {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@media screen and (max-width: 991px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 575px) {
			margin: 0;
		}
	}

	// .offer__step
	&__step {
		padding: 15px;
		@media screen and (max-width: 991px) {
			padding: 15px 10px;
		}
		@media screen and (max-width: 575px) {
			padding: 0px 0px 16px 0px;
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				.step-offer__content::before {
					content: "#{$i}";
				}
			}
		}
	}
}
.step-offer {
	border-radius: 4px;
	flex: 0 0 50%;
	display: flex;
	@media screen and (max-width: 575px) {
		flex: 0 0 100%;
	}

	&__wrapper {
		padding: 38px 21px 38px 33px;
		background: #ffffff;
		box-shadow: 4px 8px 18px rgba(24, 48, 63, 0.04);
		border-radius: 4px;
		width: 100%;
		display: flex;
		align-items: center;

		@media screen and (max-width: 991px) {
			padding: 30px 17px 30px 26px;
		}
		@media screen and (max-width: 767px) {
			padding: 24px 13px 18px;
		}
		@media screen and (max-width: 575px) {
			padding: 38px 21px 38px 33px;
			box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
		}
		@media screen and (max-width: 450px) {
			padding: 24px 13px 24px 12px;
			min-height: 139px;
		}
	}

	&__content {
		position: relative;
		padding: 5px 0px 0px 51px;
		display: flex;
		flex-direction: column;

		&::before {
			content: "";
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 31px;
			height: 31px;
			border-radius: 50%;
			background: #dde4ff;
			position: absolute;
			left: 0;
			top: 0;
			font-weight: 500;
			font-size: 22px;
			color: #0d7ce0;
			z-index: 1;
		}
	}

	// .step-offer__title
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 12px;

		@media screen and (max-width: 450px) {
			margin-bottom: 18px;
		}
	}

	// .step-offer__text
	&__text {
		font-size: 16px;
		line-height: 21px;
		flex: 1 1 auto;

		@media screen and (max-width: $size-layout-desktop + "px") {
			font-size: calc(14px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(21 / 16);
		}
		@media screen and (max-width: 450px) {
			margin-left: -50px;
		}
	}
}
.step-offer--first {
	.step-offer__wrapper {
		box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
		background: radial-gradient(85.01% 188.36% at 12.35% 20.95%, #1f9cfd 0%, #0f81da 100%), #ffffff;
		color: #fff;
		position: relative;
		z-index: 2;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url(../img/offer/firststep-bg.png) no-repeat center;
			z-index: 1;
		}
	}

	.step-offer__content {
		&::before {
			background: #fff;
		}
	}
}

.certificate {
	padding: 60px 0;
	background: $color-bg-f9;

	@media screen and (max-width: 991px) {
		padding: 48px 0;
	}

	// .certificate__container
	&__container {
	}

	// .certificate__row
	&__row {
		align-items: center;
		margin: 0 -15px;

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 575px) {
			display: block;
			margin: 0;
		}
	}

	// .certificate__left
	&__left {
		display: flex;
		align-items: self-start;
		flex: 0 0 66%;
		padding: 0 15px;
		
		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}
		@media screen and (max-width: 575px) {
			padding: 0px 0px 42px 0px;
		}
		@media screen and (max-width: 450px) {
			align-items: center;
		}
	}

	// .certificate__img
	&__img {
		box-shadow: 16px 20px 44px rgba(0, 0, 0, 0.1);
		margin-right: 86px;
		@media screen and (max-width: 991px) {
			margin-right: 30px;
		}
		@media screen and (max-width: 767px) {
			margin-right: 21px;
		}

		img {
			display: block;
		}
	}

	// .certificate__title
	&__title {
		@media screen and (max-width: 767px) {
			margin-bottom: 32px;
		}

		@media screen and (max-width: 400px) {
			max-width: 235px;
		}
	}

	// .certificate__text
	&__text {
		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(12px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(24 / 16);
		}
	}

	// .certificate__right
	&__right {
		flex: 1 1 auto;
		text-align: right;
		padding: 0 15px;

		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}
		@media screen and (max-width: 575px) {
			padding: 0;
		}
	}

	// .certificate__offer
	&__offer {
		font-size: 20px;
		line-height: 30px;
		max-width: 262px;
		margin: 0px 0px 50px auto;

		@media screen and (max-width: $size-layout-desktop + 'px') {
			font-size: calc(18px + 2 * ((100vw - 320px) / (#{$size-layout-desktop} - 320)));
			line-height: calc(30 / 20);
		}
		@media screen and (max-width: 991px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 575px) {
			font-weight: 600;
			margin-bottom: 24px;
		}
	}

	// .certificate__button
	&__button {
		display: inline-flex;
	}
}
