/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #444;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accent-color {
  color: #00d476;
}

.button {
  width: 164px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.button:hover {
  color: #fff;
  border-color: #c1c1c1;
}

.button--green {
  background: #00d576;
  -webkit-box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.12);
          box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.12);
  border: none;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.button--green:hover {
  background: #00af62;
  color: #fff;
}

.button--small {
  width: 143px;
}

.button--medium {
  width: 180px;
}

.button--large {
  width: 215px;
}

.button--xl {
  width: 266px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 31px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper__text {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0;
  padding: 9px 16px;
}

.input-wrapper__text::-webkit-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-moz-placeholder {
  color: #7d838c;
  opacity: 1;
  -moz-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:-ms-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-ms-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::placeholder {
  color: #7d838c;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  -o-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:focus {
  outline: 0;
}

.input-wrapper__text:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-moz-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::placeholder {
  opacity: 0;
}

.input-wrapper input[type="radio"] {
  display: none;
}

.input-wrapper input[type="checkbox"] {
  display: none;
}

.input-wrapper__label {
  padding-left: 36px;
  cursor: pointer;
  position: relative;
  line-height: 24px;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(24 / 16);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-wrapper__label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #000;
}

.input-wrapper--radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.input-wrapper--radio input[type="radio"]:checked + label:before {
  border-width: 8px;
}

.input-wrapper--check input[type="checkbox"]:checked + label:before {
  content: "\2713";
  line-height: 23px;
  padding-left: 4px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 89px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 2;
  margin-right: 52px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__item {
  margin-right: 28px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link.accent-color {
  font-weight: 700;
  color: #00d476;
}

.header__info {
  z-index: 2;
  text-align: right;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.header__phone-svg {
  margin-left: 8px;
}

.header__hours {
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  margin-top: 3px;
}

.logo__link {
  font-family: Mayak;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #444;
  white-space: nowrap;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.menu__link:hover {
  color: #c1c1c1;
}

.tabs-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-triggers__item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.tabs-triggers__item::after {
  content: "";
  display: block;
  background-color: #00d476;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.tabs-triggers__item--active {
  font-weight: 700;
  -webkit-box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
          box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
  border-radius: 4px;
  z-index: 2;
}

.tabs-triggers__item--active::after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item--active {
  display: block;
}

.accordion__title {
  padding: 20px;
  border-bottom: 1px solid #cdcdcd;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  cursor: pointer;
}

.accordion__title::before,
.accordion__title::after {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #b1b1b1;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 11px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.accordion__title::after {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

.accordion__title.active::before {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

.accordion__text {
  display: none;
  padding: 0px 20px 20px;
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 6;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.8s ease all 0s;
  -o-transition: 0.8s ease all 0s;
  transition: 0.8s ease all 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
          transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #fff;
  padding: 60px 40px 64px;
  width: 100%;
  max-width: 950px;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 0.8s ease all 0s;
  -o-transition: 0.8s ease all 0s;
  transition: 0.8s ease all 0s;
}

.popup__close {
  position: absolute;
  top: 25px;
  right: 27px;
}

.popup__back {
  position: absolute;
  top: 25px;
  left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}

.popup__back svg {
  margin-right: 8px;
}

.popup__back span {
  border-bottom: 1px solid #fff;
}

.table-content__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.size-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.size-table__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -4px;
}

.size-table__title {
  font-size: 14px;
  line-height: 21px;
  padding: 20px 4px;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.size-table__text {
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0;
}

.size-table__text:nth-child(odd) {
  background: #191919;
}

.delivery-content__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.delivery-content__wrapper {
  padding-bottom: 40px;
}

.delivery-content__wrapper:last-child {
  padding-bottom: 0;
}

.delivery-content__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  padding-bottom: 20px;
}

.delivery-content__text {
  font-size: 14px;
  line-height: 22px;
}

.request-content__title {
  margin-bottom: 20px;
}

.request-content__text {
  margin-bottom: 40px;
  max-width: 558px;
}

.request-content .mail__row {
  margin: 0 -15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.request-content .input-wrapper {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  padding: 0 15px;
}

.request-content .input-wrapper--textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.request-content .input-wrapper--button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.request-content .input-wrapper__text {
  max-width: inherit;
}

.request-content .mail__button {
  margin: 30px auto 0;
  width: 276px;
}

.request-content .mail__policy {
  margin: 15px 0 0 0;
  padding: 0;
}

.main-content {
  padding: 89px 0px 0px 0px;
}

.firstscreen__top {
  border-radius: 8px;
  background: -o-radial-gradient(12.35% 20.95%, 85.01% 188.36%, #1f9cfd 0%, #0f81da 100%);
  background: radial-gradient(85.01% 188.36% at 12.35% 20.95%, #1f9cfd 0%, #0f81da 100%);
  -webkit-box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13), inset 20px 20px 92px rgba(21, 54, 154, 0.08);
          box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13), inset 20px 20px 92px rgba(21, 54, 154, 0.08);
  color: #fff;
  overflow: hidden;
}

.firstscreen__row {
  position: relative;
}

.firstscreen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.firstscreen__column--left {
  position: relative;
  padding: 77px 0 77px 68px;
  z-index: 2;
}

.firstscreen__title {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 27px;
}

.firstscreen__title span {
  color: #2dffa2;
}

.firstscreen__title br {
  display: none;
}

.firstscreen__subtitle {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 352px;
}

.firstscreen__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstscreen__button {
  margin-right: 24px;
}

.firstscreen__button:last-child {
  margin-right: 0;
}

.firstscreen__img {
  position: absolute;
  top: 3px;
  right: 27px;
  bottom: 0;
}

.firstscreen__bottom {
  padding: 56px 0;
}

.firstscreen__features-container {
  max-width: 998px;
  margin: 0 auto;
}

.firstscreen__features {
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstscreen__feature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 248px;
          flex: 0 0 248px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstscreen__number {
  margin-right: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0c7ee5;
}

.firstscreen__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.howitworks__tabs {
  display: none;
}

.howitworks__tabs .tabs-triggers {
  -webkit-box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
          box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
}

.howitworks__tabs .tabs-triggers .tabs-triggers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 80px;
  text-align: center;
  padding: 0 5px;
}

.howitworks__tabs .tabs-triggers .tabs-triggers__item::after {
  content: "";
  display: block;
  height: 6px;
  width: 0;
  background-color: #00d476;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.howitworks__tabs .tabs-triggers .tabs-triggers__item--active::after {
  opacity: 1;
  left: 0;
  width: 100%;
}

.howitworks__tabs .tabs__content {
  background-color: #f9f9f9;
  margin-top: -40px;
  padding: 120px 0 80px;
}

.howitworks__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1012px;
  margin: 0 auto;
}

.howitworks__feature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
}

.howitworks__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.howitworks__title span {
  margin-left: 16px;
}

.howitworks__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.howitworks__accordion {
  margin: 20px 0;
}

.howitworks__accordion .accordion__item {
  margin-bottom: 8px;
}

.howitworks__accordion .accordion__item:last-child {
  margin-bottom: 0;
}

.howitworks__accordion .accordion__item:last-child .accordion__text {
  margin-bottom: 0;
  padding-bottom: 48px;
}

.howitworks__accordion .accordion__title {
  -webkit-box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
          box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 22px 24px;
  background: #fff;
  z-index: 2;
  border-bottom: 0;
}

.howitworks__accordion .accordion__title::before,
.howitworks__accordion .accordion__title::after {
  right: 24px;
}

.howitworks__accordion .accordion__title.active {
  font-weight: 700;
  border-bottom: 4px solid #00d476;
}

.howitworks__accordion .accordion__text {
  background: #f9f9f9;
  padding: 88px 20px;
  margin: -40px -20px -47px;
  position: relative;
  z-index: 1;
}

.howitworks__accordion .accordion__wrapper {
  padding: 0 14px;
}

.offer {
  padding: 94px 0 83px;
}

.offer__container {
  max-width: 1052px;
}

.offer__top {
  margin-bottom: 33px;
}

.offer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer__column--content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.5%;
          flex: 0 0 49.5%;
}

.offer__title {
  max-width: 496px;
}

.offer__text {
  margin-bottom: 40px;
  max-width: 399px;
}

.offer__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.offer__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.offer__step {
  padding: 15px;
}

.offer__step:nth-child(1) .step-offer__content::before {
  content: "1";
}

.offer__step:nth-child(2) .step-offer__content::before {
  content: "2";
}

.offer__step:nth-child(3) .step-offer__content::before {
  content: "3";
}

.offer__step:nth-child(4) .step-offer__content::before {
  content: "4";
}

.step-offer {
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step-offer__wrapper {
  padding: 38px 21px 38px 33px;
  background: #ffffff;
  -webkit-box-shadow: 4px 8px 18px rgba(24, 48, 63, 0.04);
          box-shadow: 4px 8px 18px rgba(24, 48, 63, 0.04);
  border-radius: 4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-offer__content {
  position: relative;
  padding: 5px 0px 0px 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-offer__content::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #dde4ff;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 500;
  font-size: 22px;
  color: #0d7ce0;
  z-index: 1;
}

.step-offer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
}

.step-offer__text {
  font-size: 16px;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.step-offer--first .step-offer__wrapper {
  -webkit-box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
          box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
  background: -o-radial-gradient(12.35% 20.95%, 85.01% 188.36%, #1f9cfd 0%, #0f81da 100%), #ffffff;
  background: radial-gradient(85.01% 188.36% at 12.35% 20.95%, #1f9cfd 0%, #0f81da 100%), #ffffff;
  color: #fff;
  position: relative;
  z-index: 2;
}

.no-webp .step-offer--first .step-offer__wrapper::before {
  background: url(../img/offer/firststep-bg.png) no-repeat center; }

.step-offer--first .step-offer__wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.step-offer--first .step-offer__content::before {
  background: #fff;
}

.certificate {
  padding: 60px 0;
  background: #f9f9f9;
}

.certificate__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.certificate__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  padding: 0 15px;
}

.certificate__img {
  -webkit-box-shadow: 16px 20px 44px rgba(0, 0, 0, 0.1);
          box-shadow: 16px 20px 44px rgba(0, 0, 0, 0.1);
  margin-right: 86px;
}

.certificate__img img {
  display: block;
}

.certificate__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  padding: 0 15px;
}

.certificate__offer {
  font-size: 20px;
  line-height: 30px;
  max-width: 262px;
  margin: 0px 0px 50px auto;
}

.certificate__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.price {
  padding: 96px 0;
}

.price__title {
  text-align: center;
  margin-bottom: 40px;
}

.price__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__tabs .tabs-triggers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 242px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 40px 48px 0px 0px;
}

.price__tabs .tabs-triggers__item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: transparent;
  padding: 5px 0;
  margin-bottom: 28px;
}

.price__tabs .tabs-triggers__item::after {
  height: 0;
  width: 6px;
  bottom: auto;
  left: auto;
  right: -49px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 4px 0 0px 4px;
}

.price__tabs .tabs-triggers__item--active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  font-weight: 500;
}

.price__tabs .tabs-triggers__item--active::after {
  height: 160%;
}

.price__tabs .tabs-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 28px 64px;
  background: #ffffff;
  -webkit-box-shadow: 12px 16px 52px rgba(24, 48, 63, 0.08);
          box-shadow: 12px 16px 52px rgba(24, 48, 63, 0.08);
  border-radius: 4px;
}

.price__tabs--desktop {
  display: none;
}

.price__accordion .accordion__item {
  border-bottom: 1px solid #ededed;
}

.price__accordion .accordion__item:last-child {
  border-bottom: 0;
}

.price__accordion .accordion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding: 20px 0;
}

.price__accordion .accordion__title::before,
.price__accordion .accordion__title::after {
  display: none;
}

.price__accordion .accordion__title span {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 22px;
  border-radius: 50%;
  background: #f9f9f9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__accordion .accordion__title span::before,
.price__accordion .accordion__title span::after {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #b1b1b1;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.price__accordion .accordion__title span::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.price__accordion .accordion__title.active span::before {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

.price__accordion .accordion__text {
  padding: 16px 4px 33px;
}

.price__accordion-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.price__accordion-wrapper {
  text-align: right;
}

.price__accordion-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  white-space: nowrap;
}

.price__accordion-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #00d476;
}

.price__accordion-function {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.price__accordion-function:last-child {
  margin-bottom: 0;
}

.price__accordion-function::before {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 19px;
  background: url(../img/icons/checked.svg) no-repeat;
  margin-right: 26px;
}

.price__main-accordion .accordion__item:last-child .accordion__text {
  padding-bottom: 25px;
  margin-bottom: 0;
}

.price__main-accordion .accordion__title {
  background: #fff;
  -webkit-box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
          box-shadow: 4px 8px 22px rgba(24, 48, 63, 0.08);
  border-radius: 4px;
  border-bottom: 0;
  margin-bottom: 8px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 24px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.price__main-accordion .accordion__title::before,
.price__main-accordion .accordion__title::after {
  right: 23px;
}

.price__main-accordion .accordion__title.active {
  border-bottom: 6px solid #00d476;
  font-weight: 700;
}

.price__main-accordion-text {
  background: #f9f9f9;
  margin: -50px -20px -40px;
  padding: 62px 20px 55px;
}

.price__sub-accordion .accordion__title {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px 0;
  margin-bottom: 0;
  height: inherit;
}

.price__sub-accordion .accordion__title.active {
  border-bottom: 0;
}

.price__sub-accordion .accordion__title span {
  background: #fff;
}

.price__sub-accordion .accordion__title .price__accordion-title {
  font-size: 20px;
}

.functional__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.3%;
          flex: 0 0 57.3%;
}

.functional__img img {
  display: block;
  max-width: 100%;
}

.functional__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 61px;
}

.functional__title {
  margin-bottom: 34px;
}

.functional__text {
  padding-bottom: 104px;
}

.functional .slick-arrow {
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #444;
  position: absolute;
  bottom: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
  z-index: 2;
}

.functional .slick-prev {
  left: 58.6%;
}

.functional .slick-next {
  left: 71.1%;
  border: 1px solid #00d476;
}

@media screen and (min-width: 576px) {
  .howitworks__tabs {
    display: block;
  }

  .howitworks__accordion {
    display: none;
  }

  .price__tabs--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .price__accordion--mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__body {
    padding: 0 4px;
  }

  .firstscreen__column--right {
    position: relative;
    z-index: 1;
  }

  .price__accordion-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__accordion-price {
    margin-right: 30px;
  }

  .functional {
    padding: 12px 0;
  }

  .functional .slick-arrow {
    bottom: 37px;
  }
}

@media screen and (min-width: 992px) {
  .functional__title {
    padding-top: 14px;
  }
}

@media screen and (min-width: 1123px) {
  .firstscreen__top {
    min-height: 475px;
  }
}

@media screen and (max-width: 1440px) {
  .table-content__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(36 / 24);
  }

  .size-table__title {
    font-size: calc(10px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(21 / 14);
  }

  .size-table__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(27 / 18);
  }

  .delivery-content__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(36 / 24);
  }

  .delivery-content__subtitle {
    font-size: calc(18px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(33 / 22);
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(24 / 16);
  }

  .title {
    font-size: calc(20px + 8 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(34 / 28);
  }

  .header__phone {
    font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(19 / 16);
  }

  .logo__link {
    font-size: calc(16px + 6 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(32 / 22);
  }

  .tabs-triggers__item {
    font-size: calc(14px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(23 / 18);
  }

  .accordion__title {
    font-size: calc(14px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(23 / 18);
  }

  .firstscreen__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(39 / 32);
  }

  .firstscreen__subtitle {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(24 / 16);
  }

  .firstscreen__button {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(20 / 16);
  }

  .howitworks__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(21 / 16);
  }

  .step-offer__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(21 / 16);
  }

  .certificate__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(24 / 16);
  }

  .certificate__offer {
    font-size: calc(18px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(30 / 20);
  }

  .price__accordion-title {
    font-size: calc(14px + 6 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(26 / 20);
  }

  .price__accordion-price {
    font-size: calc(14px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(23 / 18);
  }

  .price__accordion-function {
    font-size: calc(12px + 2 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(21 / 14);
  }

  .price__sub-accordion .accordion__title .price__accordion-title {
    font-size: calc(16px + 4 * ((100vw - 320px) / (1366 - 320)));
    line-height: calc(26 / 20);
  }
}

@media screen and (max-width: 1050px) {
  .header__logo {
    margin-right: 20px;
  }

  .header__item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .header__logo {
    margin-right: 10px;
  }

  .header__item {
    margin-right: 10px;
  }

  .firstscreen__column--left {
    padding: 46px 0 46px 15px;
  }

  .howitworks__tabs .tabs__content {
    padding: 88px 0 48px;
  }

  .howitworks__features {
    margin: 0 -15px;
  }

  .howitworks__feature {
    padding: 0 15px;
  }

  .howitworks__title {
    margin-bottom: 21px;
  }

  .offer {
    padding: 56px 0;
  }

  .offer__steps {
    margin: 0 -10px;
  }

  .offer__step {
    padding: 15px 10px;
  }

  .step-offer__wrapper {
    padding: 30px 17px 30px 26px;
  }

  .certificate {
    padding: 48px 0;
  }

  .certificate__img {
    margin-right: 30px;
  }

  .certificate__offer {
    margin-bottom: 30px;
  }

  .price {
    padding: 58px 0;
  }

  .price__title {
    margin-bottom: 32px;
  }

  .price__tabs .tabs-triggers {
    margin-right: 15px;
  }

  .price__tabs .tabs-triggers__item::after {
    right: -15px;
  }

  .price__tabs .tabs-content {
    padding: 24px 20px;
  }

  .functional__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .functional__right {
    padding-left: 20px;
  }

  .functional .slick-prev {
    left: 47%;
  }

  .functional .slick-next {
    left: 65.8%;
  }
}

@media screen and (max-width: 920px) {
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .title {
    margin-bottom: 24px;
  }

  .header__body {
    height: 52px;
  }

  .header__list {
    display: block;
  }

  .popup__content {
    padding: 25px 10px 60px;
  }

  .popup__close {
    top: 15px;
    right: 7px;
  }

  .popup__back {
    top: 15px;
    left: 7px;
  }

  .table-content {
    padding: 45px 10px 60px;
  }

  .table-content__title {
    margin-bottom: 25px;
  }

  .delivery-content__title {
    margin-bottom: 25px;
  }

  .delivery-content__wrapper {
    padding-bottom: 32px;
  }

  .delivery-content__subtitle {
    padding-bottom: 12px;
  }

  .request-content .input-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .request-content .input-wrapper--button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .main-content {
    padding-top: 52px;
  }

  .firstscreen__top {
    margin: 0 -20px;
  }

  .firstscreen__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .firstscreen__column--left {
    padding: 46px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .firstscreen__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 300px;
  }

  .firstscreen__subtitle {
    display: none;
  }

  .firstscreen__img {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.6);
        -ms-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
  }

  .firstscreen__bottom {
    padding: 40px 0;
  }

  .firstscreen__features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -20px;
  }

  .firstscreen__feature {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 278px;
            flex: 0 0 278px;
  }

  .howitworks__features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .howitworks__feature {
    padding: 0px 0px 56px 0px;
  }

  .howitworks__feature:last-child {
    padding: 0;
  }

  .howitworks__title {
    margin-bottom: 17px;
  }

  .offer__text {
    margin-bottom: 24px;
  }

  .step-offer__wrapper {
    padding: 24px 13px 18px;
  }

  .certificate__row {
    margin: 0 -10px;
  }

  .certificate__left {
    padding: 0 10px;
  }

  .certificate__img {
    margin-right: 21px;
  }

  .certificate__title {
    margin-bottom: 32px;
  }

  .certificate__right {
    padding: 0 10px;
  }

  .price {
    padding: 48px 0;
  }

  .price__title {
    margin-bottom: 24px;
  }

  .price__tabs .tabs-content {
    padding: 10px 20px;
  }

  .price__accordion .accordion__title span {
    margin-right: 15px;
  }

  .price__accordion .accordion__text {
    padding-top: 5px;
  }

  .price__accordion-function::before {
    margin-right: 10px;
  }

  .price__sub-accordion .accordion__text {
    padding: 0 0 20px;
    margin: -3px -2px 0;
  }

  .functional__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .functional__left {
    padding-bottom: 82px;
  }

  .functional__right {
    padding: 0 0 40px;
  }

  .functional__text {
    padding-bottom: 0;
  }

  .functional .slick-prev {
    left: auto;
    right: 155px;
  }

  .functional .slick-next {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 575px) {
  .input-wrapper__text {
    padding: 5px 16px;
  }

  .header__logo {
    margin-right: 30px;
  }

  .request-content .input-wrapper {
    margin-bottom: 15px;
  }

  .request-content .input-wrapper--textarea {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 40px;
  }

  .request-content .input-wrapper--button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .request-content .input-wrapper--button .mail__button {
    margin: 20px auto 0;
  }

  .request-content .mail__button {
    margin-top: 20px;
  }

  .request-content .mail__policy {
    margin-top: 10px;
  }

  .firstscreen__column--left {
    padding: 28px 20px 37px;
  }

  .firstscreen__features {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .firstscreen__feature {
    padding: 0px 0px 34px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    margin: 0 -10px;
  }

  .firstscreen__feature:last-child {
    padding-bottom: 0;
  }

  .firstscreen__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: right;
    margin-right: 0;
    padding: 0 10px;
  }

  .firstscreen__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 10px;
  }

  .howitworks__features {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .howitworks__title {
    margin-bottom: 14px;
  }

  .offer {
    padding: 35px 0;
  }

  .offer__top {
    margin-bottom: 24px;
  }

  .offer__row {
    display: block;
  }

  .offer__column--content {
    margin-bottom: 50px;
  }

  .offer__img {
    max-width: 370px;
  }

  .offer__steps {
    margin: 0;
  }

  .offer__step {
    padding: 0px 0px 16px 0px;
  }

  .step-offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .step-offer__wrapper {
    padding: 38px 21px 38px 33px;
    -webkit-box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
            box-shadow: 16px 40px 84px rgba(24, 48, 63, 0.13);
  }

  .certificate__row {
    display: block;
    margin: 0;
  }

  .certificate__left {
    padding: 0px 0px 42px 0px;
  }

  .certificate__right {
    padding: 0;
  }

  .certificate__offer {
    font-weight: 600;
    margin-bottom: 24px;
  }

  .price__accordion-function {
    margin-bottom: 15px;
  }

  .price__accordion-function::before {
    -webkit-transform: scale(0.78);
        -ms-transform: scale(0.78);
            transform: scale(0.78);
    margin-right: 9px;
  }

  .functional__title {
    margin-bottom: 22px;
  }

  .functional .slick-arrow {
    width: 130px;
  }

  .functional .slick-prev {
    right: 157px;
  }
}

@media screen and (max-width: 450px) {
  .header__logo svg {
    max-width: 122px;
  }

  .header__hours {
    display: none;
  }

  .accordion__text {
    padding: 0px 30px 20px 0;
  }

  .popup__body {
    padding: 30px 0;
  }

  .request-content .input-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .firstscreen__column--left {
    text-align: left;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .firstscreen__title {
    max-width: 244px;
    line-height: calc(34 / 24);
    margin-bottom: 195px;
  }

  .firstscreen__title br {
    display: block;
  }

  .firstscreen__button {
    margin-right: 20px;
  }

  .firstscreen__img {
    -webkit-transform: translate(-50%, -50%) scale(0.55);
        -ms-transform: translate(-50%, -50%) scale(0.55);
            transform: translate(-50%, -50%) scale(0.55);
    top: 59%;
    left: 44%;
  }

  .firstscreen__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40.6%;
            flex: 0 0 40.6%;
  }

  .offer__img {
    max-width: inherit;
    position: relative;
    padding-bottom: 78.5%;
  }

  .offer__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -30px;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .step-offer__wrapper {
    padding: 24px 13px 24px 12px;
    min-height: 139px;
  }

  .step-offer__title {
    margin-bottom: 18px;
  }

  .step-offer__text {
    margin-left: -50px;
  }

  .certificate__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__main-accordion-text {
    padding: 62px 20px 55px;
  }
}

@media screen and (max-width: 400px) {
  .howitworks__accordion .accordion__title span {
    max-width: 193px;
  }

  .certificate__title {
    max-width: 235px;
  }

  .functional__slider {
    margin: 0 -10px;
  }

  .functional__right {
    padding: 0 10px 40px;
  }

  .functional .slick-next {
    right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1122px) {
  .firstscreen__img {
    max-width: 100%;
    height: auto;
    right: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.webp .step-offer--first .step-offer__wrapper::before { background: url(../img/offer/firststep-bg.webp) no-repeat center; }